
				  .fast-order-thumb {text-align: center;}
				  .fast-order-ul {text-align: center;}
				  .text-overflow {overflow: hidden; white-space: nowrap; word-wrap: normal; text-overflow: ellipsis;}
				