html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

aside,
header,
nav {
  display: block;
}

a {
  background-color: transparent;
}

h1 {
  margin: .67em 0;
  font-size: 2em;
}

img {
  border: 0;
}

button,
input,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input {
  line-height: normal;
}

input[type=checkbox] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

textarea {
  overflow: auto;
}

@font-face {
  font-family: 'Glyphicons Halflings';


}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyphicon-envelope:before {
  content: "\2709";
}

.glyphicon-user:before {
  content: "\e008";
}

.glyphicon-phone:before {
  content: "\e145";
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: #337ab7;
  text-decoration: none;
}

img {
  vertical-align: middle;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h4 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h1 {
  font-size: 36px;
}

h4 {
  font-size: 18px;
}

p {
  margin: 0 0 10px;
}

.text-center {
  text-align: center;
}

ul {
  margin-top: 0;
  margin-bottom: 10px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width:768px) {
  .container {
    width: 750px;
  }
}

@media (min-width:992px) {
  .container {
    width: 970px;
  }
}

@media (min-width:1200px) {
  .container {
    width: 1170px;
  }
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.col-md-12,
.col-md-4,
.col-sm-3,
.col-sm-4,
.col-sm-8,
.col-sm-9,
.col-xs-12,
.col-xs-6 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-12,
.col-xs-6 {
  float: left;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-6 {
  width: 50%;
}

@media (min-width:768px) {
  .col-sm-3,
  .col-sm-4,
  .col-sm-8,
  .col-sm-9 {
    float: left;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-8 {
    width: 66.66666667%;
  }

  .col-sm-4 {
    width: 33.33333333%;
  }

  .col-sm-3 {
    width: 25%;
  }
}

@media (min-width:992px) {
  .col-md-12,
  .col-md-4 {
    float: left;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-md-4 {
    width: 33.33333333%;
  }
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

input[type=checkbox] {
  margin: 4px 0 0;
  margin-top: 1px\9;
  line-height: normal;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #999;
}

.form-control::-webkit-input-placeholder {
  color: #999;
}

textarea.form-control {
  height: auto;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}

.btn-block {
  display: block;
  width: 100%;
}

.fade {
  opacity: 0;
}

.collapse {
  display: none;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}

.dropdown-menu>li>a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

.dropdown-menu-right {
  right: 0;
  left: auto;
}

.btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}

.input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
}

.input-group .form-control,
.input-group-addon {
  display: table-cell;
}

.input-group-addon {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}

.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-group-addon:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group-addon:first-child {
  border-right: 0;
}

.input-group .form-control:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.navbar-toggle .icon-bar+.icon-bar {
  margin-top: 4px;
}

@media (min-width:768px) {
  .navbar-toggle {
    display: none;
  }
}

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}

button.close {
  -webkit-appearance: none;
  padding: 0;
  background: 0 0;
  border: 0;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.modal.fade .modal-dialog {
  -webkit-transform: translate(0,-25%);
  -ms-transform: translate(0,-25%);
  -o-transform: translate(0,-25%);
  transform: translate(0,-25%);
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}

.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
  box-shadow: 0 3px 9px rgba(0,0,0,.5);
}

.modal-header {
  min-height: 16.43px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.modal-header .close {
  margin-top: -2px;
}

.modal-title {
  margin: 0;
  line-height: 1.42857143;
}

.modal-body {
  position: relative;
  padding: 15px;
}

.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}

@media (min-width:768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }

  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
  }
}

.clearfix:after,
.clearfix:before,
.container-fluid:after,
.container-fluid:before,
.container:after,
.container:before,
.modal-footer:after,
.modal-footer:before,
.row:after,
.row:before {
  display: table;
  content: " ";
}

.clearfix:after,
.container-fluid:after,
.container:after,
.modal-footer:after,
.row:after {
  clear: both;
}

.pull-right {
  float: right!important;
}

@-ms-viewport {
  width: device-width;
}

.visible-md,
.visible-sm,
.visible-xs {
  display: none!important;
}

@media (max-width:767px) {
  .visible-xs {
    display: block!important;
  }
}

@media (min-width:768px) and (max-width:991px) {
  .visible-sm {
    display: block!important;
  }
}

@media (min-width:992px) and (max-width:1199px) {
  .visible-md {
    display: block!important;
  }
}

@media (max-width:767px) {
  .hidden-xs {
    display: none!important;
  }
}

@media (min-width:768px) and (max-width:991px) {
  .hidden-sm {
    display: none!important;
  }
}

@media (min-width:992px) and (max-width:1199px) {
  .hidden-md {
    display: none!important;
  }
}

@media (min-width:1200px) {
  .hidden-lg {
    display: none!important;
  }
}

@font-face {
  font-family: 'FontAwesome';


  font-weight: normal;
  font-style: normal;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pull-right {
  float: right;
}

.fa-search:before {
  content: "\f002";
}

.fa-user:before {
  content: "\f007";
}

.fa-phone:before {
  content: "\f095";
}

.fa-facebook:before {
  content: "\f09a";
}

.fa-info:before {
  content: "\f129";
}

.fa-instagram:before {
  content: "\f16d";
}

input[type='text'] {
  border: 1px solid #CCC;
  padding: 0 3px;
}

.box {
  border: 1px solid #DDD;
  border-radius: 4px;
  margin-bottom: 20px;
}

.box-heading {
  color: #444;
  background: #EEE;
  text-shadow: 0 1px 0 #FFF;
  padding: 8px 12px;
  border-bottom: 1px solid #DDD;
}

.box .box-content.brainyfilter-panel {
  padding: 0;
  position: relative;
}

.box .box-content.bf-price-container {
  background: transparent;
}

.bf-price-container input {
  display: inline;
}

.bf-panel-wrapper {
  position: relative;
}

.brainyfilter-panel input {
  text-align: right;
}

.brainyfilter-panel .box-content {
  border: 0;
  padding: 8px 0px 4px;
}



.bf-slider-range {
  /*margin-top:10px;*/
  clear: both;
}

input[type=text].bf-range-max,
input[type=text].bf-range-min {
  width: 50px;
  min-width: 50px;
}

.bf-price-slider-container {
  padding: 0 7px 15px;
}

.bf-cur-symb {
  padding-bottom: 10px;
}

.bf-attr-header {
  border-radius: 0;
  border: 0;
  border-top: 1px solid #DBDEE1;
  background: #EEE;
  font-weight: normal;
  padding: 7px 10px;
  z-index: 2;
  position: relative;
}

.bf-attr-header.bf-w-line {
  border-style: solid none none;
}

.bf-attr-filter {
  position: relative;
}

.bf-attr-filter input {
  margin: 0;
}

.bf-attr-filter input[type="checkbox"] {
  display: block;
}

.bf-price-container {
  padding: 5px 5px;
}

.ndash {
  margin-left: 5px;
  margin-right: 5px;
}

.bf-arrow {

  vertical-align: middle;
}

.bf-form .bf-buttonsubmit {
  margin-right: 9px;
}

.bf-attr-block-cont {
  display: table;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.bf-attr-block .bf-attr-block-cont .bf-attr-filter:last-child .bf-cell {
  border-bottom: 0;
}

.bf-row {
  display: table-row;
}

.bf-cell {
  display: table-cell;
  border-bottom: 1px solid #EEE;
  vertical-align: middle;
  padding: 4px 0;
  height: 20px;
}

.bf-cell label {
  display: block;
  /*white-space: pre-wrap;*/
  padding-right: 3px;
  margin: 0;
}

.bf-c-1 {
  width: 12px;
  padding-right: 4px;
}

.bf-c-3 {
  width: 1px;
  text-align: right;
}

.bf-hidden {
  display: none;
}

.bf-arrow {
  background-position: 50% -153px;
  display: inline;
  font-size: 0;
  padding: 8px;
  float: right;
}

.bf-form > .bf-attr-block:first-of-type,
.bf-form > .bf-attr-block:first-of-type .bf-attr-header {
  border-width: 0;
}

.bf-btn-show,
.bf-btn-reset {
  display: none;
}

.bf-btn-show {
  background: #19A3DF;
  width: 60px;
  padding: 2px 0 0 10px;
}

.bf-left .bf-btn-show {
  padding: 2px 10px 0 0;
}

.bf-btn-show:before,
.bf-btn-show:after,
.bf-btn-reset:before {
  content: ' ';
  display: block;
  float: left;
  height: 24px;

}

.bf-left .bf-btn-show:before {
  width: 11px;
  background-position: -46px 0;
}

.bf-left .bf-btn-show:after {
  width: 26px;
  background-position: -19px 0;
  float: right;
}

.bf-btn-reset:before {
  width: 18px;
  background-position: -1px 0;
}

.bf-btn-reset {
  background: #F53838;
  width: 40px;
  padding: 2px 0 0 11px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (   min--moz-device-pixel-ratio: 1.5),
only screen and (     -o-min-device-pixel-ratio: 3/2),     /* 3/2 */
only screen and (        min-device-pixel-ratio: 1.5),       /* 1.5 */
only screen and (                min-resolution: 144dpi), /* 144px */
only screen and (                min-resolution: 1.5dppx) {
  .bf-arrow {

    background-size: 16px 181px !important;
  }

  .bf-btn-show:before,
  .bf-btn-show:after,
  .bf-btn-reset:before {

    background-size: 69px 24px;
  }

  .bf-btn-show:before,
  .bf-btn-show:after,
  .bf-btn-reset:before {

    background-size: 69px 24px;
  }
}

@font-face {
  font-family: "ComfortaaRegular";




  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "ComfortaaLight";




  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "ComfortaaBold";




  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "UbuntuLight";




  font-style: normal;
  font-weight: normal;
}

@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 100%;
  font-family: "ComfortaaLight";
}

body {
  font-family: "ComfortaaLight";
  font-size: 16px;
}

p {
  color: #4d4d4d;
  margin-bottom: 0;
  font-family: "ComfortaaLight";
}

ul {
  padding-left: 0;
  margin-bottom: 0;
}

img {
  border: none;
}

ul li {
  list-style: none;
}

input,
textarea {
  outline: none;
}

a {
  text-decoration: none;
  color: #4d4d4d;
}

.btn {
  color: #fff !important;
  text-decoration: none !important;
}

.btn-default {
  color: #565656 !important;
  text-decoration: none !important;
}

h1,
h4 {
  font-family: "ComfortaaRegular";
  text-transform: uppercase;
  color: #4d4d4d;
  margin: 0;
}

.top-wrap {
  background-color: #e6eff2;
  font-family: "UbuntuLight";
  /*  lang select customization  */
}

.top-wrap__lang {
  margin-right: 50px;
  float: left;
}

.top-wrap__menu {
  float: left;
  padding: 13px 0;
}

.top-wrap__menu nav ul li {
  display: inline-block;
  padding-right: 24px;
}

.top-wrap__menu nav ul li:last-child {
  padding-right: 0;
}

.top-wrap__entrance {
  padding-top: 11px;
  float: right;
}

.top-wrap__entrance a {
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.875em;
}

.top-wrap__entrance a + a:before {
  content: "/";
  display: inline-block;
  margin: 0 5px;
}

.top-wrap__socials {
  float: right;
  padding-top: 8px;
  margin-right: 60px;
}

.top-wrap__socials li {
  display: inline-block;
  margin-right: 14px;
}

.top-wrap__socials li a {
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  background-color: #549cd1;
  text-align: center;
  border-radius: 50%;
}

.top-wrap__socials li a i {
  color: #fff;
  font-size: 1em;
}

.top-wrap__socials li:last-child {
  margin-right: 0;
}

.top-wrap .top-wrap__lang {
  padding: 8px 11px 12px 23px;
  background-color: #2489c9;
}

.top-main-wrap {
  padding: 32px 0;
}

.top-main-wrap__contacts {
  padding-top: 28px;
}

.top-main-wrap__contacts ul li {
  padding-bottom: 21px;
}

.top-main-wrap__contacts ul li:last-child {
  padding-bottom: 0;
}

.top-main-wrap__contacts ul li a {
  font-size: 1.125em;
  font-family: "UbuntuLight";
  color: #2489c9;
}

.top-main-wrap__logo img {
  max-width: 100%;
  height: auto;
  display: block;
}

.top-main-wrap__cart {
  text-align: right;
}

.top-main-wrap__cart .cart {
  margin-bottom: 46px;
}

.top-main-wrap__cart button {
  border: none;
  background: none;
  outline: none;
}

.top-main-wrap__cart .cart-icon {

  display: inline-block;
  height: 40px;
  width: 47px;
  color: #fff;
  padding-top: 17px;
}

.top-main-wrap__cart .total-sum-val {
  padding-left: 20px;
  color: #2489c9;
  font-family: "ComfortaaBold";
  font-size: 1.125em;
}

.top-main-wrap__cart .total-sum-cur {
  font-size: 0.75em;
  padding-left: 6px;
  font-weight: bold;
  color: #2489c9;
}

.top-main-wrap__cart .search #custom-search-input {
  border-radius: 0;
  background-color: #fff;
  max-width: 187px;
  float: right;
  border-bottom: 1px solid #2489c9;
  padding-bottom: 3px;
  padding-left: 5px;
}

.top-main-wrap__cart .search #custom-search-input input {
  border: none;
  box-shadow: none;
  height: 23px;
  width: 158px;
  font-size: 0.875em;
}

.top-main-wrap__cart .search #custom-search-input input::-webkit-input-placeholder {
  text-transform: uppercase;
  color: #a9c9e5;
  font-family: "UbuntuLight";
  font-size: 0.75em;
}

.top-main-wrap__cart .search #custom-search-input input:-moz-placeholder {
  text-transform: uppercase;
  color: #a9c9e5;
  font-family: "UbuntuLight";
  font-size: 0.75em;
}

.top-main-wrap__cart .search #custom-search-input input::-moz-placeholder {
  text-transform: uppercase;
  color: #a9c9e5;
  font-family: "UbuntuLight";
  font-size: 0.75em;
}

.top-main-wrap__cart .search #custom-search-input input:-ms-input-placeholder {
  text-transform: uppercase;
  color: #a9c9e5;
  font-family: "UbuntuLight";
  font-size: 0.75em;
}

.top-main-wrap__cart .search #custom-search-input button {
  background: none;
  box-shadow: none;
  border: 0;
  padding: 0;
  border-left: none;
}

.top-main-wrap__cart .search #custom-search-input button i {
  color: #2489c9;
  font-size: 1.125em;
}

.main-menu-container {
  max-width: 942px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 10px;
}

.main-menu ul li {
  padding-right: 55px;
  display: inline-block;
}

.main-menu ul li:last-child {
  padding-right: 0;
}

.main-menu ul li a {
  font-size: 1.25em;
  text-transform: uppercase;
  color: #2489c9;
}

.delivery {
  padding: 9px 0;
  background-color: #e6eff2;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.875em;
  font-family: "ComfortaaRegular";
  letter-spacing: 2px;
}

.breadcrumbs {
  padding-top: 42px;
}

.breadcrumbs ul li {
  display: inline-block;
  font-family: "UbuntuLight";
}

.breadcrumbs ul li a {
  color: #2489c9;
  font-size: 0.875em;
}

.breadcrumbs ul li a:after {
  content: ">";
  display: inline-block;
  color: #4d4d4d;
  margin: 0 10px;
}

.item-title {
  display: block;
  margin-top: 30px;
  margin-bottom: 20px;
  padding-bottom: 14px;
  border-bottom: 1px solid #979797;
}

.item-title h1 {
  margin: 0;
}

.left-pos {
  float: left;
}

.right-pos {
  float: right;
}

.sorting-block {
  margin-bottom: 32px;
}

.category-row .category-item {
  margin-bottom: 30px;
}

.category-row aside {
  padding-top: 65px;
}

.sorting-label {
  font-family: "UbuntuLight";
  font-size: 0.875em;
  color: #666;
}

.category-section {
  padding-bottom: 100px;
}

.category-row {
  border-bottom: 1px solid #979797;
  margin-bottom: 40px;
}

.cat-img-wrap {
  position: relative;
  display: block;
  overflow: hidden;
}



.cat-item-row {
  margin-bottom: 38px;
}

#cart > button {
  box-shadow: none;
}

#cart .dropdown-menu {
  z-index: 1001;
}

#cart .dropdown-menu {
  min-width: 100%;
}

@media (max-width: 478px) {
  #cart .dropdown-menu {
    width: 100%;
  }
}

#cart .dropdown-menu li p {
  margin: 20px 0;
}

.top-wrap .btn-menu {
  display: none;
}

@media screen and (max-width: 1200px) {
  .top-wrap__socials {
    margin-right: 15px;
    padding-top: 11px;
  }

  .top-wrap__entrance i {
    width: 24px;
    height: 24px;
    line-height: 24px;
    display: inline-block;
    background-color: #549cd1;
    text-align: center;
    border-radius: 50%;
    color: #fff;
  }
}

@media screen and (max-width: 992px) {
  .top-wrap .top-wrap__lang {
    margin-right: 20px;
    padding: 6px 0px 6px 5px;
  }

  .top-wrap .top-wrap__lang ~ .dropdown {
    float: left;
  }

  .top-wrap__socials,
  .top-wrap__entrance {
    padding-top: 8px;
  }

  .main-menu ul li {
    padding-right: 15px;
  }

  .top-wrap .btn-menu {
    display: block;
    float: left;
    background: none;
    color: #549cd1!important;
    font-size: 21px;
  }

  .top-main-wrap__contacts {
    padding-top: 0;
    display: none;
  }

  .top-main-wrap__contacts ul li {
    padding-bottom: 5px;
  }
}

@media screen and (max-width: 768px) {
  .top-main-wrap {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .top-main-wrap,
  .top-main-wrap__cart {
    text-align: center;
  }

  .top-main-wrap__logo img {
    margin: 15px auto;
    max-width: 50%;
  }

  .top-main-wrap__cart .search #custom-search-input {
    float: none;
    display: inline-block;
  }

  .top-main-wrap__cart .cart {
    margin-bottom: 35px;
  }

  .main-menu-container {
    padding-bottom: 0;
  }

  .main-navigation .container {
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-toggle {
    float: none;
    background-color: #2489c9;
    margin: 0 auto;
    margin-bottom: 15px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }

  .navbar-toggle .icon-bar {
    background-color: #ffffff;
  }

  .main-menu {
    display: none;
    background-color: #2489c9;
  }

  .main-menu ul li {
    display: block;
    padding-right: 0;
  }

  .main-menu ul li a {
    color: #e6eff2;
    display: block;
    padding-top: 4px;
    padding-bottom: 4px;
  }
}

@media screen and (max-width: 460px) {
  .top-wrap .container {
    padding-left: 0;
  }
}